[submodule "med-ai-server"]
	path = med-ai-server
	url = git@github.com:tclarke104/med-ai-server.git
[submodule "med-ai-runner"]
	path = med-ai-runner
	url = git@github.com:tclarke104/med-ai-runner.git
[submodule "med-ai-ui"]
	path = med-ai-ui
	url = git@github.com:tclarke104/med-ai-ui.git
[submodule "med-ai-model-example"]
	path = med-ai-model-example
	url = git@github.com:tclarke104/med-ai-model-example.git
[submodule "med-ai-model"]
	path = med-ai-model
	url = git@github.com:tclarke104/med-ai-model.git
[submodule "med-ai-dummy-classifier"]
	path = med-ai-dummy-classifier
	url = git@github.com:tclarke104/med-ai-dummy-classifier.git
